body {
  margin: 0 auto;
  max-width: 50em;
  background-color: #edf7fa;
}
p {
  font-size:16px;
}
h1 {
  color: red;
}
.rafred {
  max-width: 100%;
}
.OoChina {
  max-width: 100%;
}
.China {
  max-width: 100%;
}
.iframe1 {
  height: 480px;
  width: 650px;
}
.story1 {
  background-color: #ffebd9;
}
